
#app {
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {

  #app {
    flex-direction: column;
  }
}

/* Base */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-block {
  display: flex;
}

@media (max-width: 600px) {
  .flex-block {
    display: block;
  }
}